body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card{
  width: 4rem;
  height: 4rem;
  border-radius: 20px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid blue;
  transition: all .4s;
  flex-direction: column;
}
.card:hover{
  background-color: #219ebc;
  /* box-shadow: none; */
  border: 1px solid white;
}
